<launch>

  <node name="roboscan_publish_node" pkg="roboscan_nsl3130" type="roboscan_publish_node" output="screen" />

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find roboscan_nsl3130)/rviz/roboscan_nsl3130rviz.rviz" />
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
</launch>

<!--
<launch>
  <arg name="ip_addr" default=""/>
  <arg name="connect_lidar" default="true"/>

  <node pkg="roboscan_nsl3130" type="roboscan_publish_node"
        name="roboscan_publish_node" output="screen" respawn="true" respawn_delay="1.5" />

  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" />

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find roboscan_nsl3130)/rviz/roboscan_nsl3130rviz.rviz" />
</launch>
-->
